########################
#### FANS ##############
########################


[fan]
##	Print Cooling Fan - PF8
pin: PF8
max_power: 0.85 
# This should be set to 0.8 on most motherboards to give full range of control to your slicer. 
# Anything above 80% duty cycle will be full power on this particular brushless driver.
# To fine-tune the max_power parameter for your particular motherboard, set max_power to 1.0, go into the Klipper dashboard, and increase fan speed 1% at a time until the actual fan speed stops increasing as you increase the fan speed. Divide the fan speed at this point by 100 and enter it into the max_power parameter.
# This parameter defines the maximum power (expressed as a value from 0.0 to 1.0) that the pin may be set to. 
# The value 1.0 allows the pin to be set fully enabled for extended periods, while a value of 0.5 would allow the pin to be enabled for no more than half the time. 
# This setting may be used to limit the total power output (over extended periods) to the fan. 
# If this value is less than 1.0, then fan speed requests will be scaled between zero and max_power (for example, if max_power is 0.9 and a fan speed of 80% is requested, then the fan power will be set to 72%).
shutdown_speed: 0 
cycle_time: 0.00004
hardware_pwm: False 
kick_start_time: 0.250 
off_below: 0.1 
# The blower will not spin with the included brushless driver when the duty cycle is below 8%. When scaled with Max_power at 0.8, the off_below parameter should be set to 0.1. 
# To calibrate this setting, gradually lower the fan speed to determine the lowest input speed that reliably drives the fan without stalls. 
# Set off_below to the duty cycle corresponding to this value (for example, 8% -> 0.08/Max_power -> 0.08/0.8 -> 0.1) or slightly higher. 
# This parameter is the minimum input speed that will power the fan (expressed as a value from 0.0 to 1.0). 
# When a speed lower than off_below is requested, the fan will instead be turned off. 
# This setting may be used to prevent fan stalls and to ensure effective kick starts. 
# To calibrate this setting, start with off_below set to 0.0 and the fan spinning. 
# Gradually lower the fan speed to determine the lowest input speed that reliably drives the fan without stalls. 
# Set off_below to the duty cycle corresponding to this value (for example, 12% -> 0.12) or slightly higher.
#Tachometer_pin:
# Tachometer input pin for monitoring fan speed. A pullup is generally required. 
# This parameter is optional.
#Tachometer_ppr: 1
# When tachometer_pin is specified, this is the number of pulses per revolution of the tachometer signal.
#Tachometer_poll_interval: 0.0005
# When tachometer_pin is specified, this is the polling period of the tachometer pin, in seconds. 
# The default is 0.0015, which is fast enough for fans below 10,000 RPM at 2 PPR. 
# This must be smaller than 30/(tachometer_ppr*rpm), with some margin, where rpm is the 
# maximum speed (in RPM) of the fan.

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
## in case of a watercooler that is 24V use a Heater Pin like PF7 Heat3 for a larger mosfet that can handle more amps.
pin: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

#[fan_generic Exhaust_fan]
##  exhaust fan - In FAN4
#pin: PA15
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10

#[fan_generic chamber_fan]
###  chamber fan - In FAN9 Positon
#pin: PD15
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10

#[fan_generic RSCS]
##  RSCS Fans - In FAN1 Positon
#pin: PA1
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10

#[controller_fan driver_fan] 
# This is if you connect your driver fan to Super8 
#or if you want to add fan to the Super8. Other wise connect them in the driver fan ports
#stepper: stepper_x
#pin: PD14
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10