########################
########################

[stepper_x]
##	in M6 position
step_pin: PE0
dir_pin: PG3
enable_pin: !PG4
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: PG11            #make sure to set the correct pin here.
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 50 
homing_retract_dist: 0


[stepper_x1]
##	in M5 position
step_pin: PE1
dir_pin: !PF0
enable_pin: !PC15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

########################
########################

[stepper_y]
##	in M4 position
step_pin: PE15
dir_pin: !PE11
enable_pin: !PF2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: PG12                 #make sure to set the correct pin here.
position_endstop: -0
position_min: 0
position_max: 235
homing_speed: 50  
homing_retract_dist: 0

[stepper_y1]
##	in M3 position
step_pin: PE14
dir_pin: PE8
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y:virtual_endstop  

########################
########################

[stepper_z]
## In M1 position
step_pin: PE3
dir_pin: !PF13
enable_pin: !PF14
microsteps: 32
rotation_distance: 4
endstop_pin:PG10             #make sure to set the correct pin here.
position_endstop: 0.0
position_max: 200
full_steps_per_rotation: 200
homing_retract_dist: 5.0
homing_positive_dir: false
homing_speed: 5.0
second_homing_speed: 2.5

########################
########################

[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PF4
control: pid
pid_Kp: 66.746
pid_Ki: 3.504
pid_Kd: 317.878
min_temp: 0
max_temp: 130

###########################################
#########Custom PINs Definition ############
###########################################

#[output_pin LED]
#In FAN8 position if 12 or 5V
#When 24V use a heater pin like Heat4 PF6
#pin: PF6
#pwm: false
#value: 1
#shutdown_value:1
### gcode command: SET_PIN PIN=LED value=0 to 1