########################
########################

[stepper_x]
##	in M6 position
step_pin: PE0
dir_pin: PG3
enable_pin: !PG4
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: PG11            #make sure to set the correct pin here.
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 50 
homing_retract_dist: 0


[stepper_x1]
##	in M5 position
step_pin: PE1
dir_pin: !PF0
enable_pin: !PC15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

########################
########################

[stepper_y]
##	in M4 position
step_pin: PE15
dir_pin: !PE11
enable_pin: !PF2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: PG12                 #make sure to set the correct pin here.
position_endstop: -0
position_min: 0
position_max: 235
homing_speed: 50  
homing_retract_dist: 0

[stepper_y1]
##	in M3 position
step_pin: PE14
dir_pin: PE8
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y:virtual_endstop  

########################
########################

[stepper_z]
## In M1 position
step_pin: PE3
dir_pin: !PF13
enable_pin: !PF14
microsteps: 32
rotation_distance: 4
endstop_pin:PG10             #make sure to set the correct pin here.
position_endstop: 0.0
position_max: 200
full_steps_per_rotation: 200
homing_retract_dist: 5.0
homing_positive_dir: false
homing_speed: 5.0
second_homing_speed: 2.5

########################
########################

[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PF4
control: pid
pid_Kp: 66.746
pid_Ki: 3.504
pid_Kd: 317.878
min_temp: 0
max_temp: 130

###########################################
#########Custom PINs Definition ############
###########################################
[board_pins super8]
aliases:
  # EXP1 header
  EXP1_1=PE12, EXP1_3=PB2, EXP1_5=PC14, EXP1_7=PG14, EXP1_9=<GND>,
  EXP1_2=PE13, EXP1_4=PG8, EXP1_6=PC13, EXP1_8=PG13, EXP1_10=<5V>,
  # EXP2 header
  EXP2_1=PA6, EXP2_3=PB7, EXP2_5=PB6, EXP2_7=PG15,  EXP2_9=<GND>,
  EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<5V>

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^!EXP2_3
click_pin: ^!EXP1_2

[neopixel fly_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#[output_pin LED]
#In FAN8 position if 12 or 5V
#When 24V use a heater pin like Heat4 PF6
#pin: PF6
#pwm: false
#value: 1
#shutdown_value:1
### gcode command: SET_PIN PIN=LED value=0 to 1