### For Fly Super 8 V1.3 ####
### And Mellow Kit  ####
### For Fly Super pro 8, the SPI bus is spi1A
### For Fly Super 8 V1.3, the SPI bus is spi3

##### Includes ##########
#########################

[include mainsail.cfg]
[include macros/*.cfg]
[include configs/*.cfg]
[display_status]
[exclude_object]
[virtual_sdcard]
path: ~/printer_data/gcodes
[pause_resume]
recover_velocity: 350

# Enable arcs support for Orcaslicer.
[gcode_arcs]
resolution: 0.1

##### VzBoT ############
########################

[printer]
kinematics: corexy
max_velocity: 2500
max_accel: 10000
#max_accel_to_decel: 5000
max_z_velocity: 20
max_z_accel: 1500
square_corner_velocity: 10

##### MCUs ##############
#########################

#Fly Super 8 Pro
[mcu]
canbus_uuid: 60e580c9c5e0
restart_method: command
#restart_method: command

#fly SHT-36 V2
[mcu sht]      
canbus_uuid: fd98b5fecf45
#restart_method: command
# run the following command to locate the uuid >   ~/CanBoot/scripts/flash_can.py -i can0 -qwwww

[mcu Cartographer]
canbus_uuid: 7e376466cd2f


[idle_timeout]
timeout: 1800
gcode =
  {% if printer.pause_resume.is_paused %}
    M104 S0
  {% else %}
    TURN_OFF_HEATERS
    #M84
  {% endif %}

################################################################################################
##                                        Probe                                               ##
################################################################################################

#[bed_screws]
#screw1: 20,20
#screw2: 20,290
#screw3: 290,290
#screw4: 290,20
